.flex-group {
  display: flex;
}
.app-content {
  flex-direction: column;
  align-items: center;
}
.topbar {
  justify-content: space-around;
  height: 120px;
  width: 100%;
  padding: 10px;
}
.settings {
  flex-direction: column;
  justify-content: space-between;
}
.cell {
  height: 10px;
  width: 10px;
  border: 0.5px dotted gray;
  background-color: white;
}
.cell--active {
  background-color: black;
}
